# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
batch_download_from_list.py
extract_playlist_videos.py
extract_playlist_videos.py
fetch_live_transcripts.py
fetch_video_transcripts.py
data/master_video_list.json
data/live_transcripts/2bEgCeZkpc4.json
data/live_transcripts/8EXIwlEVtJM.json
data/live_transcripts/BgUMlyYldsw.json
data/live_transcripts/EeCpMJ5chzE.json
data/live_transcripts/FFhXTrRW-Do.json
data/live_transcripts/if8rZlFJZi0.json
data/live_transcripts/JG4Dj-SLM-Y.json
data/live_transcripts/kqeM_EdatQA.json
data/live_transcripts/mSeGdryJdcc.json
data/live_transcripts/o5LD46VvE-Q.json
data/live_transcripts/Oanmq2zNmpE.json
data/live_transcripts/UqYGqeumh5Q.json
data/live_transcripts/VmzMABFsiUM.json
data/video_transcripts/_u-WgSN5ymU.json
data/video_transcripts/-AXlZw6Gatw.json
data/video_transcripts/0ZFIrcC0FJg.json
data/video_transcripts/3DvxjJPKdzI.json
data/video_transcripts/4_Ge2QEcT8k.json
data/video_transcripts/4O4Y1TJz3F0.json
data/video_transcripts/6KPXn2Ha0cM.json
data/video_transcripts/7DVpag3cO0g.json
data/video_transcripts/9azRerL6CZc.json
data/video_transcripts/9B4CvtzXRpc.json
data/video_transcripts/10hRlpUNeNA.json
data/video_transcripts/aV0mlw1Hfh8.json
data/video_transcripts/B_eCW0umzjA.json
data/video_transcripts/CmH8JEtuKx8.json
data/video_transcripts/COFQ-wrn9P4.json
data/video_transcripts/dyVtcNOga_E.json
data/video_transcripts/EH3vGeqeIAo.json
data/video_transcripts/Ekkrf65uZL4.json
data/video_transcripts/eWnZVUXMq8k.json
data/video_transcripts/fDTf1mk-jQg.json
data/video_transcripts/fFHyqhmnVfs.json
data/video_transcripts/fFs17LZhicg.json
data/video_transcripts/G9VbtcsPKT0.json
data/video_transcripts/GTyKTyw2GhI.json
data/video_transcripts/HqcGLJSORaA.json
data/video_transcripts/hvbXtB52x8s.json
data/video_transcripts/hVMD8imCBrE.json
data/video_transcripts/KsVMJZhCQCk.json
data/video_transcripts/kwcBi3S4bHU.json
data/video_transcripts/l-KjjfRX5Uw.json
data/video_transcripts/L2_gIrDxCes.json
data/video_transcripts/lA_mNpddN5U.json
data/video_transcripts/mUz7nbbZJc0.json
data/video_transcripts/npYs6HMBIG0.json
data/video_transcripts/pOV4EjUtl70.json
data/video_transcripts/qgZiUvV41TI.json
data/video_transcripts/Reof2keiH34.json
data/video_transcripts/RG4Log2_4M4.json
data/video_transcripts/S5EpsMjel-M.json
data/video_transcripts/TdejZsExjws.json
data/video_transcripts/VbGl3msgce8.json
data/video_transcripts/VKXnSwNm_lE.json
data/video_transcripts/vwtYHcRtvag.json
data/video_transcripts/w4z8Py-UoNk.json
data/video_transcripts/WLr4Yy2uZr4.json
data/video_transcripts/yQhRom9GFXg.json
